*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'PT Sans Narrow', sans-serif;
  min-width: 1000px;
}
.clearfix:after {
content: " ";
height: 0;
clear: both;
display: block;
overflow: hidden;
}
.container{
  width: 940px;
  margin: 0 auto;
}
header{
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
}
header a,
footer a{
  color:#fff;
}
.main-nav{
  width: 650px;
  float: left;
}
.main-nav li{
  display: inline-block;
  padding: 20px 10px;
  vertical-align: top;
}
.user{
  width: 80px;
  float: right;
  padding: 20px 20px;
}
.main{
  font-weight:bold;
  text-transform: uppercase;
  background-color: #fbf8f5;
  padding: 60px 0 80px;
}
h1{
  font-size:30px;
}
.breadcrumbs a,
.breadcrumbs p{
  display:inline-block;
  padding: 10px 0;
  padding-right: 10px;
  vertical-align: top; 
}
.breadcrumbs a{
  color:black;
  text-decoration:none;
  font-size:12px;
}
.breadcrumbs p{
  color:grey;
  text-decoration:none;
  font-size:12px;
}
h2{
  font-size:40px;
  text-align:center;
  padding: 50px 0;
}
h3{
  font-size: 24px;
  padding-bottom: 30px; 
  max-width: 240px;
}
.left-column{
  float:left;
  width: 460px;
}
.item li{
  padding-bottom: 25px;
}
.right-column{
  float:right;
  width: 460px;
}
table, tr, td{
  border:2px solid #000;
  border-collapse:collapse;
  padding: 15px 20px;
  margin-bottom: 83px;
  width:460px;
  font-size:14px;
  font-weight:bold;
}
.about{
  padding-top: 30px;
}
.about p{
  width: 400px;
}
footer{
  background-color:#000;
  color:#fff;
  padding: 20px;
  font-size:14px;
  text-transform: uppercase;
}
.footer-contacts{
  width:300px;
  float:left;
}
.footer-buttons{
  width:140px;
  float:left;
  margin-left: 100px; 
}
.footer-copyright{
  width:140px;
  float:right;
}