*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: " ";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
}
.container{
  width: 940px;
  margin: 0 auto;
}
body{
  min-width: 1000px;
  font-family: 'PT Sans Narrow', sans-serif;
}
a, p, h1, h2, h3, li{
  font-weight:bold;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}




header {
  background: #000;
}
header a,
footer a {
  color: #fff
}
header a {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
}
.main-nav {
  float: left;
  width: 660px;
}
.main-nav li {
  display: inline-block;
  vertical-align: top;
}
.main-nav a:hover {
  background: #242424;
}

.main-nav .active a {
  position: relative;
}

.main-nav .active a:hover {
  background: none;
}

.main-nav .active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;
  background: #fff;
}
.user {
  position: relative;
  float: right;
  padding-left: 50px;
}
.user:hover {
  background: #242424;
}
.user::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.png"), no-repeat 0 0;
}
.user:hover:before {
  opacity: .3;
}


.main{
  background: #f9f6f3 url('../img/bg-content.png');
  padding: 54px 0 84px;
}
.sub-header{
  margin-bottom: 61px;
}
h1{
  font-size:30px;
  margin-bottom: 32px;
  line-height: 30px;
}
.breadcrumbs a,
.breadcrumbs p{
  display:inline-block;
  margin-right: 10px;
  font-size: 14px;
  vertical-align: top;
}
.breadcrumbs a{
  color:black;
}
.breadcrumbs p{
  color: #aba9a7;
}
h2{
  margin-bottom: 76px;
  font-size:48px;
  text-align:center;
}


.features{
  margin-bottom: 70px;
}
.features .item,
.features .prices{
  width:460px;
  float:left;
  margin-right: 20px;
}
.features .prices{
  margin: 0;
}
h3{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 37px; 
  max-width: 240px;
}
.prices h3{
  max-width: 180px;
}
.item li{
  font-size: 14px;
  margin: 0 0 25px 15px;
}
.item li:last-child{
  margin-bottom: 0;
}
table, tr, td{
  border:2px solid #000;
  border-collapse:collapse;
  padding: 14px 17px;
  width:460px;
  font-size:14px;
  font-weight:bold;
  text-transform: uppercase;
}
td:last-of-type{
  text-align: center;
}

.about p {
  margin-right: 90px;
  font-size: 14px;
  line-height: 24px;
}
.about-left, .about-right {
  width:380px;
  float:left;
}
.about-right{
  margin: 0;
}


footer {
  padding: 63px 0 44px;
  background:#222 url('../img/bg-footer.png');
}
footer p,
footer a {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.footer-contacts {
  width:310px;
  float:left;
  margin-right: 90px;
}
.footer-contacts a {
  text-decoration: underline;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-buttons {
  float: left;
  width: 141px;
}
.footer-buttons,
.footer-copyright {
  text-align: center;
}
.footer-buttons p,
.footer-copyright p {
  margin-bottom: 24px;
}
.footer-buttons a,
.footer-copyright a {
  margin-bottom: 7px;
}
.social-btn {
  margin-right: 6px;
  float: left;
  vertical-align: top;
  width: 43px;
  height: 43px;
  padding: 5px;
  font-size: 0;
  text-decoration: none;
  background: #000 url('../img/sprite.png') no-repeat ;
}
.social-btn:last-child {
  margin: 0;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-vk {
  background-position: -52px 15px;
}
.social-btn-fb {
  background-position: -91px 10px;
}
.social-btn-inst {
  background-position: -132px 12px;
}
.social-btn-vk:hover {
  background-position: -180px 15px;
}
.social-btn-fb:hover {
  background-position: -230px 10px;
}
.social-btn-inst:hover {
  background-position: -267px 12px;
}
.footer-copyright {
  float: right;
  width: 140px;
}
.footer-copyright a {
  padding: 15px 30px;
  background-color: #000;
}
.footer-copyright a:hover {
  background-color: #fff;
  color:#000;
}

